#board {
    background: rgb(15, 9, 9);
    width: 1920px;
    height: 1080px;
    left: 0px;
    top: 0px;
}


.circle {
    background: rgb(255, 0, 149);
    width: 7px;
    height: 7px;
    border-radius: 10px;
    position: absolute;
}
body{
    background: black;
}